<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon style="font-size: 30px;" name="chevron-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="titulo-centrado">Modo Conductor</div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h4>Ingresar como </h4>
  <ion-grid>
    <ion-row *ngIf="isLoading">
      <ion-col size="12" *ngFor="let item of [1,2]">
        <ion-card class="card-option">
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <ion-skeleton-text animated style="width: 60px; height: 60px;"></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <ion-skeleton-text animated style="width: 80%; height: 16px;"></ion-skeleton-text>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!isLoading">
      <ion-col size="12" *ngFor="let card of servicios">
        <ion-card class="card-option" (click)="seleccionarServicio(card)">
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img [alt]="card.nombre" [src]="card.foto" />
            </ion-thumbnail>
            <ion-label>
              <h2>{{ card.nombre }}</h2>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>

  <div class="crear-cuenta">

    <p>¿Aún no tienes cuenta?</p>

    <ion-button (click)="irCrear()" expand="full" fill="outline" shape="round">Crear cuenta</ion-button>

  </div>





</ion-content>