<ion-content [fullscreen]="true">

  <div class="otp-container">
    <ion-text class="instruction">
      <h2 style="font-weight: bolder;">Verifica tu cuenta</h2>

      <div class="contenedor-icon-seguridad">
        <div class="icon-seguridad">
          <ion-icon class="icon-background" color="primary" name="shield" class="icon-bordered"></ion-icon>
          <ion-icon class="icon-foreground" name="shield-outline"></ion-icon>
          <ion-icon name="lock-closed-outline" class="icon-candado"></ion-icon>
        </div>
      </div>
      <p>Ingresa el código que recibiste por SMS.</p>
    </ion-text>

    <div style="padding-left: 25px; padding-right: 25px;">


      <ion-grid style="margin-top: -10px;">
        <ion-row class="ion-justify-content-center">
          <ion-col size="12">
            <p>Código de verificación</p>
            <ion-input [(ngModel)]="codigoIngresado" type="text" maxlength="4" class="otp-input" enterkeyhint="send"
              (keyup.enter)="verificarCodigo()" (ionInput)="onInputChange()">
            </ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-button style="text-transform: none;" class="btn-verificar"
              [disabled]="!codigoIngresado || codigoIngresado.length < 4" shape="round" expand="block"
              (click)="verificarCodigo()">
              Verificar
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button class="btn-reenviar" shape="round" expand="block" (click)="resendOtp()" fill="clear"
              style="text-transform: none;">
              <span style="color:blue !important; font-size: 12pt;">Reenviar Código</span>
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>


    <!-- Botón fijo abajo sin footer -->
    <div class="verify-button-container">

    </div>
    <div class="verify-button-container btn-reenviar">

    </div>
  </div>

<ion-button
  fill="clear"
  size="small"
  color="primary"
  class="btn-icono" style="text-transform: none; padding: 10px; background-color: none !important; "
  (click)="logout()"
>
  <ion-icon name="arrow-back" slot="icon-only"></ion-icon> Atrás
</ion-button>
</ion-content>