<ion-header style="box-shadow: none;">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <!--<ion-icon class="icon-back" name="arrow-back"></ion-icon>-->
        <ion-icon class="icon-back" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ganancias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo-personalizado">
  <div class="encabezado" style="padding-top: 5px;">
    <div class="ganancia-container">
      <label class="fecha-label">Selecciona una fecha:</label>
      <ion-input readonly [value]="selectedDate" (click)="toggleDatePicker()" class="fecha-input">
      </ion-input>
    </div>
    <div *ngIf="showDatePicker">
      <ion-datetime presentation="date" [value]="selectedDate" (ionChange)="onDateChange($event)" [max]="hoy">
      </ion-datetime>
    </div>

    <ion-card class="total-card">
      <ion-card-content>
        <div class="total-label">Total Ganado</div>
        <div class="total-value">Q{{ totalGanancia | number:'1.2-2' }}</div>
      </ion-card-content>
    </ion-card>

  </div>

  <div *ngFor="let g of listado" class="trip-card">
    <div class="trip-time">
       {{ formatearFecha(g.fecha) }} - {{ formatearHora(g.hora) }}
    </div>
    <div class="texto-limitado"><strong>Origen:</strong> {{ g.start_direction }}</div>
    <div class="texto-limitado"><strong>Destino:</strong> {{ g.end_direction }}</div>
    <div><strong>Costo:</strong> {{ g.costo | currency:'GTQ' }}</div>
    <div style="color:rgb(4, 194, 4); font-weight: bolder;" class="ganancia-text"><strong>Ganancia:</strong> Q{{
      g.ganancia | number:'1.2-2' }}</div>
  </div>

  <div *ngIf="listado.length === 0" class="no-data">
    <ion-icon name="alert-circle-outline" size="large" color="medium"></ion-icon>
    <p>No hay viajes registrados para esta fecha</p>
  </div>

</ion-content>