.fondo-personalizado {
  --background: #fff7f3; // Por ejemplo, un tono suave acorde a `orangered`
}

ion-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: right;
    }
  
    ion-icon {
      font-size: 24px;
      color: #4caf50;
    }
  }
  


    
  ion-icon {
    font-size: 28px;
  }


  .card-historial {
  transition: transform 0.3s ease;
}
.card-historial:hover {
  transform: scale(1.01);
}

.card-ride {
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 4px 0;
  margin: 10px 0;
}

.texto-limitado {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}