<ion-modal (ionModalDidDismiss)="closeModal()" [isOpen]="isOpen" (didDismiss)="closeModal()"
  [breakpoints]="[0, 0.4, 0.7]" [initialBreakpoint]="0.7" handleBehavior="cycle">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="end">
          <ion-button style="color:red; text-transform: none;" (click)="closeModal()"> <ion-icon
              name="close"></ion-icon>Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" style="--overflow: visible; padding-bottom: 56px;">
      <ion-list>
        <ion-radio-group [(ngModel)]="selectedOption">
          <ion-item *ngFor="let option of options">
            <ion-label>{{ option?.title }}</ion-label>
            <ion-radio slot="start" [value]="option?.value"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Otro</ion-label>
            <ion-radio slot="start" value="otro"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <ion-item *ngIf="selectedOption === 'otro'" fill="outline">

          <ion-input placeholder="Danos tu motivo..." [(ngModel)]="otroTexto"></ion-input>

        </ion-item>
        <ion-note color="danger"
          *ngIf="selectedOption === 'otro' && submitted && (!otroTexto || otroTexto.trim().length < 1)">
          Este campo es obligatorio.
        </ion-note>
      </ion-list>
      <ion-button expand="block" (click)="save()">Guardar</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>