<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Billetera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="wallet-content fondo-personalizado">

  <!-- Saldo Disponible -->
  <div class="card-box balance-box">
 <ion-button 
  (click)="getSaldo()" 
  class="actualizar-saldo" 
  shape="round" 
  fill="clear"
  [disabled]="isLoading">

 
  Actualizar

</ion-button>
    <div class="title">Saldo Disponible</div>
    <div class="amount">Q{{ saldo }}</div>
    <p style="margin-top: -10px; font-size:13px">Saldo mínimo para recibir viajes Q{{saldoMinimo}}</p>
    <ion-button expand="block" class="btn-recargar" routerLink="/driver/recargar">RECARGAR</ion-button>
  </div>

  <!-- Donde depositar -->
  <div class="card-box deposit-box">
    <div class="title">¿Dónde debo depositar?</div>
    <ion-button expand="block" fill="outline" class="btn-outline" (click)="navigateToPayments()">VER No. DE
      CUENTA</ion-button>
  </div>

  <!-- Historial de Transacciones -->
  <div class="history-header">
    <h2>Historial de Transacciones</h2>
    <ion-select placeholder="Tipo" [(ngModel)]="filtroTipo" (ionChange)="filtrarMovimientos()">
      <ion-select-option value="">Todos</ion-select-option>
      <ion-select-option value="débito">Débito</ion-select-option>
      <ion-select-option value="crédito">Crédito</ion-select-option>
    </ion-select>
  </div>

  <!-- Lista de Transacciones -->
  <div *ngFor="let movimiento of movimientosFiltrados" class="card-box transaction-box">
    <div class="left">
      <div class="desc">{{ movimiento.descripcion }}</div>
      <div class="fecha">{{ movimiento.fecha | date:'dd/MM/yyyy' }}</div>
    </div>
    <div class="right">
      <div class="badge" [ngClass]="movimiento.tipo === 'débito' ? 'badge-debito' : 'badge-credito'">
        {{ movimiento.tipo === 'débito' ? '-' : '+' }}Q{{ movimiento.cantidad }}
      </div>
    </div>
  </div>

</ion-content>